@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>Welcome to the Paw Paw Wines information page.</h3>

<h3>
    Paw Paw Wines holds the largest selection of wines in the Kalamazoo county, with over 3000 beverages to choose from.
</h3>

<h3>
    In order to view the wine list, you must create an account. In addition to registering, you can also add new wine items
    to the list, and even update or remove outdated ones.
</h3>

<p>Click on Home or Paw Paw Wines in the navigation bar to return to the main page.</p>

<p>Click on Contact to learn how to get in touch with us by mail, email, alternate website, or phone.</p>

<p>Click Register to create a new account, or Log In if you already have one.</p>

<p>If logged in, you can click the Beverages link to view the list of beverages.</p>
