@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Paw Paw Wines</h1>
    <p class="lead">Welcome to Paw Paw Wines, the largest selection of wine and beverages in the Kalamazoo area.</p>
</div>

<div>
    <div>
        <h2>Getting started</h2>
        <p>Click on the links at the top to navigate the site. Go to Contact for support, or go to About to learn more.</p>
        <p>Register to view the list of beverages.</p>
    </div>
</div>